.thong-bao-loi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../asset/images/error.jpg");
    background-size: cover;
    text-align: center;
    height: 100vh;
    position: relative;
}

.title {
    top: 0;
    position: absolute;
    margin-top: 50px;
}